<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pezfa</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="com/pezfa/inventario/models/Cliente.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Usuario.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/VentaEspecie.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Especie.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Produccion.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/DetalleProduccion.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Almacen.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Empleado.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Camion.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Cava.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/CompraInsumo.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Producto.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Ubicacion.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Insumo.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Venta.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/VentaUnidad.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/CompraEspecie.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Indicador.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Auditoria.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Compra.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Proveedor.hbm.xml"/>
    <mapping resource="com/pezfa/inventario/models/Unidad.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
